PORT=3001
# Redis Configuration
# Format: redis[s]://[[username][:password]@]host[:port][/db-number]
REDIS_URL=redis://localhost:6379

# PostgreSQL Configuration
# Format: postgresql://[user[:password]@][host][:port]/[database]
DATABASE_URL=postgresql://user:password@localhost:5432/countdown_db
